/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
.login-header{
    background: rgb(255, 255, 255, 0.493);
}
.login-header .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.login-header .logo{
    width: 120px;
    margin: 10px;
}
.login-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.login-header .main-nav{
    margin: auto;
    display: flex;
    
}
.login-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.login-header .header-search{
    display: flex;
    
}
.login-header .header-search button,
.login-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.login-header .header-search button:focus,
.login-header .header-search input:focus{
    outline: none;
    
}
.login-header .header-search button{
    border-radius: 0 200px 200px 0;
}
.login-header .header-search input{
    border-radius: 200px 0 0 200px;
    /* box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset; */
}


/* --------login_content-------- */
.login_content{
    width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
    padding-bottom: 40px;
}
.login_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.login_item .login_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.login_item .login_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
} 
.login_item .login{
    width: 600px;
    height: 500px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 12px 12px 7px rgba(77, 24, 24, 0.3);
    z-index: 1;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.login .form{
  width: 400px;
  color: #fff;
}
.login .form h2{
  margin-bottom: 20px;
  padding-bottom: 20px ;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}
.form .group{
  margin-bottom: 20px;
}
.form label{
  line-height: 2;
  
}
.form input{
    width: 100%;
    border: 1px solid #aaa;
    line-height: 3;
    border-radius: 5px;
}
.form .btn-group{
  font-size: 0;
  margin-top: 50px;
  text-align: center;
}
.form .btn{
  
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: rgb(107, 22, 86);
  width: 190px;
  padding: 10px 0;
  color: #fff;
  

}

.form .other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  
}
.form .other a{
    text-decoration: none;
     color: #aaa;
     margin: 30px;
}
.form .other a:hover{
  color: #fff;
}


 /* -----login_footer---- */
 .login_footer{
    width: 1200px;
    margin: auto;
}
.login_footer .connection_place{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 330px;
}
.connection_place .connection_txt{
    font-size: 20px;
    
}
.connection_place .sub_place h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 300px;
}
.sub_place .sub_txt input{
    width: 250px;
    border: none;
    border-radius: 150px 150px 150px 150px;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
    background-color: #fff;
    outline: none;
    padding: 3px;
}
.sub_place .sub_txt button{
    border: none;
    background-color: rgb(107, 22, 86);
    border-radius: 150px 150px 150px 150px;
    color: #fff;
}
 .sub_txt .sub_icon{
     margin: 10px;
     font-size: 30px;
 }
 .footer_menu{
     margin-bottom: 50px;
     width: 1200px;
    
    
 }
 .footer_menu .menu_place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    
   
}
 .menu_place .logo{
    width: 120px;
}
.menu_place .logo img{
    width: 100%;
    vertical-align: top;
    
}
.menu_place .footer-nav{
    /* margin: auto; */
    display: flex;
    align-items: center;
    
}
.menu_place .footer-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.footer_menu .copyright{
    width: 720px;
    margin: auto;
    color: #555;
    
}