/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
.equipment-header{
    background: rgb(255, 255, 255, 0.493);
}
.equipment-header .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.equipment-header .logo{
    width: 120px;
    margin: 10px;
}
.equipment-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.equipment-header .main-nav{
    margin: auto;
    display: flex;
    
}
.equipment-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.equipment-header .header-search{
    display: flex;
    
}
.equipment-header .header-search button,
.equipment-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.equipment-header .header-search button:focus,
.equipment-header .header-search input:focus{
    outline: none;
    
}
.equipment-header .header-search button{
    border-radius: 0 200px 200px 0;
}
.equipment-header .header-search input{
    border-radius: 200px 0 0 200px;
    /* box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset; */
}


/* --------equipment_content-------- */
.equipment_content{
    width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
}
.equipment_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.equipment_item .equipment_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.equipment_item .equipment_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.equipment_item .equipment_menu{
    display: flex;
    justify-content: center;
    /* margin: 20px;   */
    
    
}
.equipment_menu{
    background-color: rgb(245, 199, 199);
    height: 50px;
    padding-top: 30px;
    
}

 .equipment_menu .equipment-nav a{
     text-decoration: none;
     margin: 40px;
     color: #222;
     font-size: 20px;
     font-weight: bold;
 }
.equipment_content .equipment_sales{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.equipment_sales .sales_box{
    border: 2px solid #fff;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: 20px;
    

}
.equipment_sales .sales_box .sales_pic{
    width: 100%;
    vertical-align: middle;
}
.sales_box .sales_pic img{
    width: 250px;
    height: 250px;
}
.sales_box .sales_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px; 
    
}

.sales_txt .name{
    margin-bottom: 10px;
   
}

.sales_txt .name a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    
}
.sales_txt .price{
    margin-bottom: 10px;
    
}
.sales_txt .price a{
    text-decoration: none;
    font-size: 20px;
    color:#6a0674; 
      
}
.sales_txt .buy a{
    font-weight: bold;
    text-decoration: none;
    color: #222;
}
.equipment_item .equipment_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.equipment_page .page_left,
.equipment_page .page_right{
     font-size: 20px;
     padding-left: 5px;
     padding-right: 5px;
 }
 .equipment_page .page_number{ 
     padding-left: 5px;
     padding-right: 5px;
 }
 .equipment_page .page_number a{
     text-decoration: none;
     color: #444;
     font-size: 20px;
    
     

 }

/* -----equipment-footer----- */
.equipment_footer{
    width: 1200px;
    margin: auto;
}
.equipment_footer .connection_place{
    /* margin-top: 50px; */
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 330px;
}
.connection_place .connection_txt{
    font-size: 20px;
    
}
.connection_place .sub_place h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 300px;
}
.sub_place .sub_txt input{
    width: 250px;
    border: none;
    border-radius: 150px 150px 150px 150px;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
    background-color: #fff;
    outline: none;
    padding: 3px;
}
.sub_place .sub_txt button{
    border: none;
    background-color: rgb(107, 22, 86);
    border-radius: 150px 150px 150px 150px;
    color: #fff;
}
 .sub_txt .sub_icon{
     margin: 10px;
     font-size: 30px;
 }
 .footer_menu{
     margin-bottom: 50px;
     width: 1200px;
    
    
 }
 .footer_menu .menu_place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    
   
}
 .menu_place .logo{
    width: 120px;
}
.menu_place .logo img{
    width: 100%;
    vertical-align: top;
    
}
.menu_place .footer-nav{
    /* margin: auto; */
    display: flex;
    align-items: center;
    
}
.menu_place .footer-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.footer_menu .copyright{
    width: 720px;
    margin: auto;
    color: #555;
    
}