/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
.knowledge-header{
    background: rgb(255, 255, 255, 0.493);
}
.knowledge-header .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.knowledge-header .logo{
    width: 120px;
    margin: 10px;
}
.knowledge-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.knowledge-header .main-nav{
    margin: auto;
    display: flex;
    
}
.knowledge-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.knowledge-header .header-search{
    display: flex;
    
}
.knowledge-header .header-search button,
.knowledge-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.knowledge-header .header-search button:focus,
.knowledge-header .header-search input:focus{
    outline: none;
    
}
.knowledge-header .header-search button{
    border-radius: 0 200px 200px 0;
}
.knowledge-header .header-search input{
    border-radius: 200px 0 0 200px;
    /* box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset; */
}


/* -----knowledge_content----- */
.knowledge_content{
    width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
}
.knowledge_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.knowledge_item .knowledge_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.knowledge_item .knowledge_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.knowledge_item .knowledge_menu{
    display: flex;
    justify-content: center;
    /* margin: 20px;   */
    
    
}
.knowledge_menu{
    background-color: rgb(245, 199, 199);
    height: 50px;
    padding-top: 30px;
    
}

 .knowledge_menu .knowledge-nav a{
     text-decoration: none;
     margin: 40px;
     color: #222;
     font-size: 20px;
     font-weight: bold;
     
 }
.knowledge_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin:auto;
    padding-bottom:100px ;
    
}
.knowledge_content .content_box {
    display: flex;
    justify-content: center; 
    margin: 30px;
    border: 2px solid #fff;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2); 
    position: relative; 
}
.content_box .lebal{
    border-right: 60px solid #f00;
    border-bottom: 60px solid transparent;
    position: absolute;
    right: -0.5px;
}
.content_box .lebal span{
    position:absolute;
    top: 5px;
    right: -58px;
    color: #fff;
}
.content_box .content_txt{
    width: 200px;
    align-items: center;
    margin: 10px;
}
.content_txt  span{
    color: #6a0674;
    font-weight: bold;
    
}
.content_txt h3{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bolder;
}
.content_txt p{
    color: #444;
    margin-bottom: 5px;
}
.content_txt a{
    font-weight: bold;
}
.content_box .content_pic{
    width:180px;
    margin: 10px;
    
}
.content_box .content_pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
}


/* -----knowledge-footer----- */
.knowledge_footer{
    width: 1200px;
    margin: auto;
}
.knowledge_footer .connection_place{
    /* margin-top: 50px; */
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 330px;
}
.connection_place .connection_txt{
    font-size: 20px;
    
}
.connection_place .sub_place h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 300px;
}
.sub_place .sub_txt input{
    width: 250px;
    border: none;
    border-radius: 150px 150px 150px 150px;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
    background-color: #fff;
    outline: none;
    padding: 3px;
}
.sub_place .sub_txt button{
    border: none;
    background-color: rgb(107, 22, 86);
    border-radius: 150px 150px 150px 150px;
    color: #fff;
}
 .sub_txt .sub_icon{
     margin: 10px;
     font-size: 30px;
 }
 .footer_menu{
     margin-bottom: 50px;
     width: 1200px;
    
    
 }
 .footer_menu .menu_place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    
   
}
 .menu_place .logo{
    width: 120px;
}
.menu_place .logo img{
    width: 100%;
    vertical-align: top;
    
}
.menu_place .footer-nav{
    /* margin: auto; */
    display: flex;
    align-items: center;
    
}
.menu_place .footer-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.footer_menu .copyright{
    width: 720px;
    margin: auto;
    color: #555;
    
}