/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
.newest-header{
    background: rgb(255, 255, 255, 0.493);
}
.newest-header .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.newest-header .logo{
    width: 120px;
    margin: 10px;
}
.newest-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.newest-header .main-nav{
    margin: auto;
    display: flex;
    
}
.newest-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.newest-header .header-search{
    display: flex;
    
}
.newest-header .header-search button,
.newest-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.newest-header .header-search button:focus,
.newest-header .header-search input:focus{
    outline: none;
    
}
.newest-header .header-search button{
    border-radius: 0 200px 200px 0;
}
.newest-header .header-search input{
    border-radius: 200px 0 0 200px;
    /* box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset; */
}


/* ------newest_content------- */
.newest_content{
    width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
}
.newest_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.newest_item .newest_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.newest_item .newest_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.newest_item .newest_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; 
    background-color: rgb(245, 199, 199); 
}
.box_group{
    display: flex;
    margin: 20px; 
}
.group_name label{
    font-size: 20px;
}
.group_name input{
    width: 100px;
    margin: 10px;
    border-radius: 150px 150px 150px 150px;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset; 
    border: none;
    padding: 8px; 
}
.group_name ::placeholder{
    color: rgb(107, 22, 86);
    font-size: 15px;
}
.box_search{
    display: flex;
    margin: 20px
}
.box_search .search_place input{
    width: 350px;
    margin-right: 5px;
    border: none;
    padding: 8px;
    border-radius: 150px 150px 150px 150px;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    background-color: #fff
    outline: none;
  }
.box_search .search_place ::placeholder{
    color: rgb(107, 22, 86);
    
    font-size: 15px;
    
  }
.box_search .search_btn button{
    width: 140px;
    padding: 3px;
    border: none;
    border-radius: 150px 150px 150px 150px;
    background-color: rgb(107, 22, 86);
    color: #fff;
    font-size: 20px;
   
  }
/* -----長照地圖----- */
.newest_item .newest_map{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}
.newest_item .newest_map h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: bold;
}
.newest_map .map_box {
    margin-top: 100px;
    
}
.map_box .map_search iframe{
    
    width: 1000px
}
.map_box .map_txt h3{
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    display: inline-block;
}
.place_item{
    background: linear-gradient(0deg, #ccc, #fff);
    padding: 10px;
}
.newest_item .place_item{
    width: 1000px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
}
.place_item .list_place_left{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.place_item .list_place_left  a{
    text-decoration: none;
    color: #222; 
    border-bottom: 1px solid #555;
    
}
.place_item .list_place_left li{
    margin-bottom: 10px;
    text-align: right;
    
}
.place_item .list_place_right{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.place_item .list_place_right a{
    text-decoration: none;
    color: #222;
    border-bottom: 1px solid #555;
}
.place_item .list_place_right li{
    margin-bottom: 10px;
    text-align: right;
}

/* ----newest_footer---- */
.newest_footer{
    width: 1200px;
    margin: auto;
}
.newest_footer .connection_place{
    /* margin-top: 50px; */
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 330px;
}
.connection_place .connection_txt{
    font-size: 20px;
    
}
.connection_place .sub_place h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 300px;
}
.sub_place .sub_txt input{
    width: 250px;
    border: none;
    border-radius: 150px 150px 150px 150px;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
    background-color: #fff;
    outline: none;
    padding: 3px;
}
.sub_place .sub_txt button{
    border: none;
    background-color: rgb(107, 22, 86);
    border-radius: 150px 150px 150px 150px;
    color: #fff;
}
 .sub_txt .sub_icon{
     margin: 10px;
     font-size: 30px;
 }
 .footer_menu{
     margin-bottom: 50px;
     width: 1200px;
    
    
 }
 .footer_menu .menu_place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    
   
}
 .menu_place .logo{
    width: 120px;
}
.menu_place .logo img{
    width: 100%;
    vertical-align: top;
    
}
.menu_place .footer-nav{
    /* margin: auto; */
    display: flex;
    align-items: center;
    
}
.menu_place .footer-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.footer_menu .copyright{
    width: 720px;
    margin: auto;
    color: #555;
    
}
