/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
.connection-header{
    background: rgb(255, 255, 255, 0.493);
}
.connection-header .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.connection-header .logo{
    width: 120px;
    margin: 10px;
}
.connection-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.connection-header .main-nav{
    margin: auto;
    display: flex;
    
}
.connection-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.connection-header .header-search{
    display: flex;
    
}
.connection-header .header-search button,
.connection-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.connection-header .header-search button:focus,
.connection-header .header-search input:focus{
    outline: none;
    
}
.connection-header .header-search button{
    border-radius: 0 200px 200px 0;
}
.connection-header .header-search input{
    border-radius: 200px 0 0 200px;
    /* box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset; */
}


/* --------connection_content-------- */
.connection_content{
    width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
    /* padding-bottom: 40px; */
}
.connection_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.connection_item .connection_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.connection_item .connection_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
} 
.connection_box .connection_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.connection_box .connection_list h2{
    font-size: 20px;
    color: #222;
    margin: 50px;
}
.connection_list .connection_txt {
    display: flex;
    flex-direction: row;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    
}
.connection_list .connection_name{
    background-color: rgb(245, 199, 199);
}
.connection_list .connection_name li{
    color: #222;
    font-size: 20px;
    margin: 18px;
   
    /* border-bottom: 2px solid #444; */
}
.connection_list .connection_input input{
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 600px;
    height: 25px
}
.connection_input .verify  input{
    width: 100px;
}

.connection_box  .connection_btn{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 30px;
}
.connection_box  .connection_btn button{
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(107, 22, 86);
    color: #fff;
    font-size: 15px;
    
}

/* -----connection_footer---- */
.connection_footer{
    width: 1200px;
    margin: auto;
}
.connection_footer .connection_place{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 330px;
}
.connection_place .connection_txt{
    font-size: 20px;
    
}
.connection_place .sub_place h2{
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
        border-bottom: 3px solid rgb(107, 22, 86);
        width: 300px;
}
.sub_place .sub_txt input{
    width: 250px;
    border: none;
    border-radius: 150px 150px 150px 150px;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
    background-color: #fff;
    outline: none;
    padding: 3px;
}
.sub_place .sub_txt button{
    border: none;
    background-color: rgb(107, 22, 86);
    border-radius: 150px 150px 150px 150px;
    color: #fff;
}
 .sub_txt .sub_icon{
     margin: 10px;
     font-size: 30px;
 }
 .footer_menu{
     margin-bottom: 50px;
     width: 1200px;
    
    
 }
 .footer_menu .menu_place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    
   
}
 .menu_place .logo{
    width: 120px;
}
.menu_place .logo img{
    width: 100%;
    vertical-align: top;
    
}
.menu_place .footer-nav{
    /* margin: auto; */
    display: flex;
    align-items: center;
    
}
.menu_place .footer-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.footer_menu .copyright{
    width: 720px;
    margin: auto;
    color: #555;   
}


/* .connection_title img{
    width: 80px;
    -webkit-filter:hue-rotate(77deg);
			filter: hue-rotate(77deg);
    opacity: 0.8;

} */
			