/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
*{
    font-family: ‘cwTeXYen’, sans-serif;
}
.knowledge-header{
    background: rgb(255, 255, 255, 0.493);
    position: sticky;
    top: 0;
    z-index: 100; 
}
.knowledge-header .container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.knowledge-header .logo{
    width: 120px;
    margin: 10px;
}
.knowledge-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.knowledge-header .main-nav{
    margin: auto;
    display: flex;
    
}
.knowledge-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.knowledge-header .main-nav a:hover{
    color: rgb(129, 129, 129);
    transition: all 0.45s;
}
.knowledge-header .header-search{
    display: flex;
    
}
.knowledge-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.knowledge-header .header-search button:focus,
.knowledge-header .header-search input:focus{
    outline: none;
    
}
.knowledge-header .header-search button{
    background-color: transparent;
    border: none;
}
#btnHamburger {
    display: none;
}
#menu {
    position:absolute;
    left:-100%;
    top:100px;
    width:80px;
    height:200px;
    padding-left:6px;
    background: rgb(255, 255, 255, 0.493);
    transition: left 2s;
}
/* header_media */
@media screen and (max-width: 1190px){
    .knowledge-header .main-nav a{
        text-decoration: none;
        color: #222;
        font-size: 18px;
        font-weight: bolder;
        padding: 0px  1em  0px 0px;
         
    }
}
@media screen and (max-width: 768px){
    .knowledge-header .container{
        max-width: 768px;
        margin: auto;
        position: relative;
        background: linear-gradient(0deg, #fff, rgb(247, 194, 194));
    }
    .knowledge-header .main-nav a{
        display: none;
    }
    .knowledge-header .header-search button,
    .knowledge-header .header-search input{
        display: none;
    }

/* Hamburger     */
#btnHamburger {
    width:44px;
    height:36px;
    display:block;
    position:absolute;
    right: 10px;
    border: none;
}	

#menu {
    position:absolute;
    left:-100%;
    top:130px;
    width: 100%;
    max-width:300px;
    height:350px;
    padding-left:6px;
    background: rgb(255, 255, 255, 0.8);
    transition: left 2s;
    z-index: -1;
}
#menu.hidden{
    left: 0px;
    transition: left 1s;
}
.menu{
    cursor: wait;
    width: 100%;
    max-width:300px;
}

a {
    color: #222;
    font-weight: bold;
    text-decoration:none;
    line-height: 30px;
}
#menu li{
    border-bottom: 1px solid #555;
    letter-spacing: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    max-width:400px;
    
}
    a:hover{
        color: #555;
        /* font-style:italic; */
    }
   
}


/* -----knowledge_content----- */
.knowledge_content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
}
.knowledge_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.knowledge_item .knowledge_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.knowledge_item .knowledge_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.knowledge_item .knowledge_menu{
    display: flex;
    justify-content: center;
    /* margin: 20px;   */
    
    
}
.knowledge_menu{
    background-color: rgb(245, 199, 199);
    height: 50px;
    padding-top: 30px;
    
}

 .knowledge_menu .knowledge-nav a{
     text-decoration: none;
     margin: 30px;
     color: #222;
     font-size: 20px;
     font-weight: bold;   
 }
 .knowledge_menu .knowledge-nav a:hover{
    background: rgb(255, 255, 255, 0.493);
    transition: all 0.45s;

 }

 @media screen and (max-width: 768px){
    .knowledge_content{
        width: 100%;
        max-width: 768px;
        margin: auto;
        background: linear-gradient(0deg, #ccc, #fff);
    }
    .knowledge_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .knowledge_item .knowledge_title{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(pic/green_gobbler_@2X.png);
        height: 100px;
    }
    .knowledge_item .knowledge_title h1{
        font-size: 35px;
        font-weight: bolder;
        color: #fff;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
    .knowledge_item .knowledge_menu{
        display: flex;
        justify-content: center;
        /* margin: 20px;   */
        width: 100%;
        max-width: 768px;
        
    }
    .knowledge_menu{
        background-color: rgb(245, 199, 199);
        height: 50px;
        padding-top: 30px;
    }
    
     .knowledge_menu .knowledge-nav a{ 
         text-decoration: none;
         margin: 10px;
         color: #222;
         font-size: 20px;
         font-weight: bold;   
     }
     .knowledge_menu .knowledge-nav a:hover{
        background: rgb(255, 255, 255, 0.493);
        transition: all 0.45s;
    
     }
 }

 @media screen and (max-width: 500px){
    .knowledge_menu .knowledge-nav a{ 
        text-decoration: none;
        margin: 5px;
        color: #222;
        font-size: 15px;
        font-weight: bold;   
    }
 }


/* ---column_container--- */
.column_container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

 .column_item{
    width: 100%;
    width: 800px;
    margin: 20px;
    display: flex;
    background: rgb(255, 255, 255, 0.493);  
    box-shadow: 0 0 10px rgb(190, 189, 189);
  
  }
  .column_item:hover{
      transform: translateY(-10px);
      transition: all .45s;
  }
.column_item .column_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border-radius: 10%;   */
  }

 .column_item .column_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

  }
 .column_item .column_txt{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
  } 

 .column_item .column_txt h2{
    font-weight: 10px;
    font-size: 18px;
    margin-bottom: 1em;
  }
.column_item .column_txt p{
    color: #666;
    line-height: 24px;
  }
.column_item .column_txt .btn{
    line-height: 1.5em;
    padding: 0 1em;
    align-self: flex-end;
    text-decoration: none;
    margin-top: auto;
    color: #aaa;
    border-top: 1px solid #222;
    border-bottom:1px solid #222 ;
  }
.column_item .column_txt .btn:hover{
    background-color: rgb(245, 199, 199);
    transition: all .45s;
  } 

.knowledge_item .knowledge_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
 .knowledge_page .page_left,
 .knowledge_page .page_right{
     font-size: 20px;
     padding-left: 5px;
     padding-right: 5px;
 }
 .knowledge_page .page_number{ 
     padding-left: 5px;
     padding-right: 5px;
 }
 .knowledge_page .page_number a{
     text-decoration: none;
     color: #444;
     font-size: 20px;
    
 }
 @media screen and (max-width: 768px){
    .column_section{
        max-width: 768px;
        background:#fff;
    }
    .column_container{
        width: 100%;
        height: 100%;
        max-width: 768px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 50px;
    }
    .column_container .column_title{
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .column_container .column_title h2{
        font-size: 30px;
        display: inline-block;
        color: rgb(247, 173, 173);
    }
    
     .column_item{
        width: 100%;
        height: 100%;
        max-width: 700px;
        margin: 10px;
        display: flex;
        background: rgb(255, 255, 255, 0.493);  
        box-shadow: 0 0 10px rgb(190, 189, 189);
        font-family: 'Noto Sans TC', sans-serif;
      
      }
      .column_item:hover{
          transform: translateY(-10px);
          transition: all .45s;
      }
    .column_item .column_pic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        /* border-radius: 10%;   */
      }

     .column_item .column_pic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

      }
     .column_item .column_txt{
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
      } 

     .column_item .column_txt h2{
        font-weight: 10px;
        font-size: 18px;
        margin-bottom: 1em;
      }
    .column_item .column_txt p{
        color: #666;
        line-height: 24px;
      }
    .column_item .column_txt .btn{
        line-height: 1.5em;
        padding: 0 1em;
        align-self: flex-end;
        text-decoration: none;
        margin-top: auto;
        color: #333;
        border-top: 1px solid #222;
        border-bottom:1px solid #222 ;
      }
    .column_item .column_txt .btn:hover{
        background-color: rgb(245, 199, 199);
        transition: all .45s;
      } 
     
  }
  @media screen and (max-width: 420px){
    .column_item .column_txt p{
        display: none;
        
      } 
    .column_item{
        width: 100%;
        height: 100%;
        max-width: 700px;
        margin: 10px;
        display: flex;
        background: rgb(255, 255, 255, 0.493);  
        box-shadow: 0 0 10px rgb(190, 189, 189);
        font-family: 'Noto Sans TC', sans-serif;
      
      }
      .column_item .column_txt{
        width: 50%;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
      } 
      .column_item .column_txt h2{
        font-weight: 10px;
        font-size: 20px;
        margin-bottom: 1em;
        line-height:24px;
        letter-spacing: 1px;
      }
      .column_item .column_txt .btn{
        line-height: 1.5em;
        padding: 0 1em;
        align-self: flex-end;
        text-decoration: none;
        margin-top: auto;
        color: #333;
        border-top: 1px solid #222;
        border-bottom:1px solid #222 ;
        
      }
  }

/* -----knowledge-footer----- */
.knowledge_footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.knowledge_footer .connection_place{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(107, 22, 86);
    width: 330px;
}
.connection_place .connection_txt{
font-size: 20px;
line-height: 24px;

}
.connection_place .sub_place h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(107, 22, 86);
    width: 300px;
}
.sub_place .sub_txt input{
width: 250px;
border: none;
box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
background-color: #fff;
outline: none;
padding: 3px;
}
.sub_place .sub_txt button{
border: none;
background-color:transparent;
color: #333;
/* font-weight: bold; */
border: 1px solid #222;
}
.sub_place .sub_txt button:hover{
background-color: rgb(245, 199, 199);
transition: all .45s;
}
.sub_txt .sub_icon{
 margin: 10px;
 font-size: 30px;
}
.footer_menu{
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
   
   
}
.footer_menu .menu_place{
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 10px;
   
  
}
.menu_place .logo{
width: 120px;
}
.menu_place .logo img{
width: 100%;
vertical-align: top;

}
.menu_place .footer-nav{
/* margin: auto; */
display: flex;
align-items: center;

}
.menu_place .footer-nav a{
text-decoration: none;
color: #222;
font-size: 20px;
font-weight: bolder;
padding: 0px  1.5em  0px 0px;
}
.menu_place .footer-nav a:hover{
color: rgb(129, 129, 129);
transition: all 0.45s;
}
.footer_menu .copyright{
width: 100%;
max-width: 720px;
margin: auto;
color: #555;
line-height: 24px;
}

@media screen and (max-width: 768px){
    .knowledge_footer{
            
        width: 100%;
        max-width: 768px;
        margin: auto;
    }
    .knowledge_footer .connection_place{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #fff;
        
    }
 
    .connection_place .connection h2{
            font-size: 18px;
            font-weight: bolder;
            margin-bottom: 20px;
            border-bottom: 3px solid rgb(107, 22, 86);
            width: 100%;
            max-width: 280px;
            line-height: 24px;
            
    }
    .connection_place .connection_txt{
        font-size: 15px;
        line-height: 25px;
        margin-right:5px;
        
    }
    .connection_place .sub_place h2{
            font-size: 18px;
            font-weight: bolder;
            margin-bottom: 20px;
            border-bottom: 3px solid rgb(107, 22, 86);
            width: 100%;
            max-width: 280px;
            line-height: 24px;
    }
    .sub_place .sub_txt input{
        width: 100%;
        max-width: 150px;
        border: none;
        box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
        background-color: #fff;
        outline: none;
        padding: 3px;
        
    }
    .sub_place .sub_txt button{
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background-color:transparent;
        color: #333;
        /* font-weight: bold; */
        border: 1px solid #222;
        
    }
    .sub_place .sub_txt button:hover{
        background-color: rgb(245, 199, 199);
        transition: all .45s;
    }
     .sub_txt .sub_icon{
         margin: 0px;
         font-size: 20px;
     }
     .footer_menu{
         margin:auto;
         padding-bottom: 10px;
         padding-top: 10px;
         width: 80%;
         max-width: 768px;   
     }
     .footer_menu .menu_place{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 15px;
       
       
    }
     .menu_place .logo{
        width: 100px;
        display: none;
    }
    .menu_place .logo img{
        width: 80%;
        vertical-align: top;
        
    }
    .menu_place .footer-nav{
        /* margin: auto; */
        display: flex;
        justify-content: center;
        
    }
    .menu_place .footer-nav a{
        text-decoration: none;
        color: #222;
        font-size: 15px;
        font-weight: bolder;
        padding: 0px  0.5em  0px 0px;
        line-height: 16px;
        
    }
    .menu_place .footer-nav a:hover{
        color: rgb(129, 129, 129);
        transition: all 0.45s;
    }
    .footer_menu .copyright{
        font-size: 15px;
        width: 100%;
        max-width: 700px;
        margin: auto;
        color: #555;
        line-height: 24px;    
    }
}