/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
*{
    font-family: ‘cwTeXYen’, sans-serif; 
}
.login-header{
    background: rgb(255, 255, 255, 0.493);
    position: sticky;
    top: 0;
    z-index: 100; 
}
.login-header .container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.login-header .logo{
    width: 120px;
    margin: 10px;
}
.login-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.login-header .main-nav{
    margin: auto;
    display: flex;
    
}
.login-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.login-header .main-nav a:hover{
    color: rgb(129, 129, 129);
    transition: all 0.45s;
}
.login-header .header-search{
    display: flex;
    
}
.login-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.login-header .header-search button:focus,
.login-header .header-search input:focus{
    outline: none;
    
}
.login-header .header-search button{
    background-color: transparent;
    border: none;
}
#btnHamburger {
    display: none;
}
#menu {
    position:absolute;
    left:-100%;
    top:100px;
    width:80px;
    height:200px;
    padding-left:6px;
    background: rgb(255, 255, 255, 0.493);
    transition: left 2s;
}
/* header_media */
@media screen and (max-width: 1190px){
    .login-header .main-nav a{
        text-decoration: none;
        color: #222;
        font-size: 18px;
        font-weight: bolder;
        padding: 0px  1em  0px 0px;
         
    }
}
@media screen and (max-width: 768px){
    .login-header .container{
        max-width: 768px;
        margin: auto;
        position: relative;
        background: linear-gradient(0deg, #fff, rgb(247, 194, 194));
        
    }
    .login-header .main-nav a{
        display: none;
    }
    .login-header .header-search button,
    .login-header .header-search input{
        display: none;
    }

/* Hamburger     */
    #btnHamburger {
        width:44px;
        height:36px;
        display:block;
        position:absolute;
        right: 10px;
        border: none;
    }	
    
    #menu {
        position:absolute;
        left:-100%;
        top:130px;
        width: 100%;
        max-width:300px;
        height:350px;
        padding-left:6px;
        background: rgb(255, 255, 255, 0.8);
        transition: left 2s;
        z-index: -1;
    }
    #menu.hidden{
        left: 0px;
        transition: left 1s;
    }
    .menu{
        cursor: wait;
        width: 100%;
        max-width:300px;
    }

    a {
        color: #222;
        font-weight: bold;
        text-decoration:none;
        line-height: 30px;
    }
    #menu li{
          border-bottom: 1px solid #555;
        letter-spacing: 0.5em;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
        max-width:400px;
        
    }
    a:hover{
        color: #555;
        /* font-style:italic; */
    }
   
}


/* --------login_content-------- */
.login_content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
    padding-bottom: 100px;
}
.login_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.login_item .login_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.login_item .login_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
} 
.login_item .login{
    width: 100%;
    max-width: 600px;
    height: 500px;
    background:url(pic/love.jpg);
    opacity: calc(.6);
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgb(190, 189, 189);
    z-index: 1;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.login .form{
  margin: 10px;
  width: 100%;
  max-width: 400px;
  color: #000;
}

.login .form h2{
  margin-bottom: 20px;
  padding-bottom: 20px ;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}
.form .group{
  margin-bottom: 20px;
}
.form label{
  line-height: 2;
  
}
.form input{
    width: 100%;
    border: 1px solid #aaa;
    line-height: 3;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
}
.form .btn-group {
  font-size: 0;
  margin-top: 50px;
  text-align: center;
}
.form .btn-group a{
  text-decoration: none;
  font-size: 18px;
  background: rgb(255, 255, 255, 0.493);
  box-shadow: 0 0 10px rgb(190, 189, 189);
  width: 100%;
  max-width: 190px;
  padding: 10px;
  color: #000;
  font-weight: bold;
  

}
.form .btn-group a:hover{
    background-color: rgb(245, 199, 199);
    transition: all .45s;
}

.form .other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  
}
.form .other a{
    text-decoration: none;
     color: #000;
     margin: 20px;
}
.form .other a:hover{
  color: #666;
}

    

    
   
}
@media screen and (max-width: 768px){
    .login_content{
        width: 100%;
        max-width: 768px;
        margin: auto;
        background: linear-gradient(0deg, #ccc, #fff);
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 420px){
    .login_content{
        width: 100%;
        max-width: 414px;
        margin: auto;
        background: linear-gradient(0deg, #ccc, #fff);
        padding-bottom: 40px;
    }
    .login_item .login{
        width: 100%;
        max-width: 350px;
        height: 500px;
        border-radius: 10px;
        border: 5px solid #fff;
        box-shadow: 0 0 10px rgb(190, 189, 189);
        z-index: 1;
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        z-index: 1;
    }
}

 /* -----login_footer---- */
.login_footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.login_footer .connection_place{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(107, 22, 86);
    width: 330px;
}
.connection_place .connection_txt{
font-size: 20px;
line-height: 24px;

}
.connection_place .sub_place h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(107, 22, 86);
    width: 300px;
}
.sub_place .sub_txt input{
width: 250px;
border: none;
box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
background-color: #fff;
outline: none;
padding: 3px;
}
.sub_place .sub_txt button{
border: none;
background-color:transparent;
color: #333;
/* font-weight: bold; */
border: 1px solid #222;
}
.sub_place .sub_txt button:hover{
background-color: rgb(245, 199, 199);
transition: all .45s;
}
.sub_txt .sub_icon{
 margin: 10px;
 font-size: 30px;
}
.footer_menu{
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
   
   
}
.footer_menu .menu_place{
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 10px;
   
  
}
.menu_place .logo{
width: 120px;
}
.menu_place .logo img{
width: 100%;
vertical-align: top;

}
.menu_place .footer-nav{
/* margin: auto; */
display: flex;
align-items: center;

}
.menu_place .footer-nav a{
text-decoration: none;
color: #222;
font-size: 20px;
font-weight: bolder;
padding: 0px  1.5em  0px 0px;
}
.menu_place .footer-nav a:hover{
color: rgb(129, 129, 129);
transition: all 0.45s;
}
.footer_menu .copyright{
width: 100%;
max-width: 720px;
margin: auto;
color: #555;
line-height: 24px;
}

@media screen and (max-width: 768px){
    .login_footer{
            
        width: 100%;
        max-width: 768px;
        margin: auto;
    }
    .login_footer .connection_place{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #fff;
        
    }
 
    .connection_place .connection h2{
            font-size: 18px;
            font-weight: bolder;
            margin-bottom: 20px;
            border-bottom: 3px solid rgb(107, 22, 86);
            width: 100%;
            max-width: 280px;
            
    }
    .connection_place .connection_txt{
        font-size: 15px;
        line-height: 25px;
        margin-right:5px;
        
    }
    .connection_place .sub_place h2{
            font-size: 18px;
            font-weight: bolder;
            margin-bottom: 20px;
            border-bottom: 3px solid rgb(107, 22, 86);
            width: 100%;
            max-width: 280px;
    }
    .sub_place .sub_txt input{
        width: 100%;
        max-width: 200px;
        border: none;
        box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
        background-color: #fff;
        outline: none;
        padding: 3px;
        
    }
    .sub_place .sub_txt button{
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background-color:transparent;
        color: #333;
        /* font-weight: bold; */
        border: 1px solid #222;
        
    }
    .sub_place .sub_txt button:hover{
        background-color: rgb(245, 199, 199);
        transition: all .45s;
    }
     .sub_txt .sub_icon{
         margin: 0px;
         font-size: 20px;
     }
     .footer_menu{
         margin:auto;
         padding-bottom: 10px;
         padding-top: 10px;
         width: 80%;
         max-width: 768px;   
     }
     .footer_menu .menu_place{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 15px;
       
       
    }
     .menu_place .logo{
        width: 100px;
        display: none;
    }
    .menu_place .logo img{
        width: 80%;
        vertical-align: top;
        
    }
    .menu_place .footer-nav{
        /* margin: auto; */
        display: flex;
        justify-content: center;
        
    }
    .menu_place .footer-nav a{
        text-decoration: none;
        color: #222;
        font-size: 15px;
        font-weight: bolder;
        padding: 0px  0.5em  0px 0px;
        line-height: 16px;
        
    }
    .menu_place .footer-nav a:hover{
        color: rgb(129, 129, 129);
        transition: all 0.45s;
    }
    .footer_menu .copyright{
        font-size: 15px;
        width: 100%;
        max-width: 700px;
        margin: auto;
        color: #555;
        line-height: 24px;    
    }
}