/* ----header--- */
body{
    background: url(pic/pink_rice.png);
}
*{
    font-family: ‘cwTeXYen’, sans-serif; 
}
.newest-header{
    background: rgb(255, 255, 255, 0.493);
    position: sticky;
    top: 0;
    z-index: 100; 
}
.newest-header .container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.newest-header .logo{
    width: 120px;
    margin: 10px;
}
.newest-header .logo img{
    width: 100%;
    vertical-align: top;
    
}
.newest-header .main-nav{
    margin: auto;
    display: flex;
    
}
.newest-header .main-nav a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px  1.5em  0px 0px;
}
.newest-header .main-nav a:hover{
    color: rgb(129, 129, 129);
    transition: all 0.45s;
}
.newest-header .header-search{
    display: flex;
    
}
.newest-header .header-search input{
    border: none;
    background-color: #ccc;
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    padding: 5px 10px;
    
}
.newest-header .header-search button:focus,
.newest-header .header-search input:focus{
    outline: none;
    
}
.newest-header .header-search button{
    background-color: transparent;
    border: none;
}
#btnHamburger {
    display: none;
}
#menu {
    position:absolute;
    left:-100%;
    top:100px;
    width:80px;
    height:200px;
    padding-left:6px;
    background: rgb(255, 255, 255, 0.493);
    transition: left 2s;
}
/* header_media */
@media screen and (max-width: 1190px){
    .newest-header .main-nav a{
        text-decoration: none;
        color: #222;
        font-size: 18px;
        font-weight: bolder;
        padding: 0px  1em  0px 0px;
         
    }
}
@media screen and (max-width: 768px){
    .newest-header .container{
        max-width: 768px;
        margin: auto;
        position: relative;
        background: linear-gradient(0deg, #fff, rgb(247, 194, 194));
    }
    .newest-header .main-nav a{
        display: none;
    }
    .newest-header .header-search button,
    .newest-header .header-search input{
        display: none;
    }

/* Hamburger     */
#btnHamburger {
    width:44px;
    height:36px;
    display:block;
    position:absolute;
    right: 10px;
    border: none;
}	

#menu {
    position:absolute;
    left:-100%;
    top:130px;
    width: 100%;
    max-width:300px;
    height:350px;
    padding-left:6px;
    background: rgb(255, 255, 255, 0.8);
    transition: left 2s;
    z-index: -1;
}
#menu.hidden{
    left: 0px;
    transition: left 1s;
}
.menu{
    cursor: wait;
    width: 100%;
    max-width:300px;
}

a {
    color: #222;
    font-weight: bold;
    text-decoration:none;
    line-height: 30px;
}
#menu li{
    border-bottom: 1px solid #555;
    letter-spacing: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    max-width:400px;
    
}
a:hover{
     color: #555;
     /* font-style:italic; */
    }
   
}

/* ------newest_content------- */
.newest_content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(0deg, #ccc, #fff);
}
.newest_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.newest_item .newest_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/green_gobbler_@2X.png);
    height: 100px;
}
.newest_item .newest_title h1{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.newest_item .banner_box{
    padding-top: 10px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; 
    background-color: rgb(241, 224, 224); 
    margin-bottom: 15px;
}
.banner_box .box_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .banner_box .box_group label{
    font-size: 20px;
    font-weight: 20px;
    color: #444;
   
  }
  .banner_box .box_group select{
    width: 100%;
    width: 130px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-right: 15px;
    display: flex;
    border: none;
    padding: 8px;
    /* border-radius: 150px 150px 150px 150px; */
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
  }
  .banner_box .box_group ::placeholder{
    color: rgb(39, 38, 39);
    font-size: 15px;
  }
   
  .banner_box .box_search{
    display: flex;
    margin:auto; 
    margin-bottom: 10px; 
  }  
  
  .box_search .search_place input{
    width: 100%;
    width: 250px;
    margin-right: 5px;
    border: none;
    padding: 8px;
    /* border-radius: 150px 150px 150px 150px; */
    box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
    outline: none;
  }
  .box_search .search_place ::placeholder{
    color: rgb(39, 38, 39);  
    font-size: 15px;
    
  }
  .box_search .search_btn {
    width: 100%;
    max-width: 100px;
    padding: 5px;
    border: none;
    /* border-radius: 150px 150px 150px 150px; */
    /* background-color: rgb(107, 22, 86); */
    text-align: center;
  
  }
  .box_search .search_btn:hover{
    background: rgb(255, 255, 255, 0.493);
    transition: all 0.45s;
  }
  .box_search .search_btn a{
      text-decoration: none;
      color: #444;
      font-weight: 20px;
      font-size: 20px; 
      
  }
  @media screen and (max-width: 420px){
    .box_search .search_place input{
        width: 100%;
        width: 220px;
        margin-right: 5px;
        border: none;
        padding: 8px;
        /* border-radius: 150px 150px 150px 150px; */
        box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px  inset;
        outline: none;
      }
  }
 
/* -----長照地圖----- */
.newest_item .newest_map{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 100px; */
    
}
.newest_item .newest_map h2{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: bold;
}
.newest_map .map_box {
   width: 100%;
   max-width: 1200px; 
   margin: auto;
    
}
.map_box .map_search iframe{
    width: 100%;
    max-width: 1200px; 
    margin-bottom: 50px;
}
.map_box .map_txt h3{
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    display: inline-block;
}
.newest_item .place_item{
    width:100%;
    max-width: 900px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin: auto;
    margin-bottom: 100px;
    /* padding-bottom: 80px;    */
}
.place_item .list_place_left{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(255, 255, 255, 0.493);
    box-shadow: 0 0 10px rgb(107, 107, 107);
    padding: 10px;
    
}
.place_item .list_place_left  a{
    text-decoration: none;
    color: #222; 
    border-bottom: 1px solid #555;
    
}
.place_item .list_place_left a:hover{
    color: #fa0;
    transition: all .45s;
}
.place_item .list_place_left li{
    margin-bottom: 10px;
    text-align: right;
    
}
.place_item .list_place_right{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(255, 255, 255, 0.493);
    box-shadow: 0 0 10px rgb(107, 107, 107);
    padding: 10px;
}
.place_item .list_place_right a{
    text-decoration: none;
    color: #222;
    border-bottom: 1px solid #555;
}
.place_item .list_place_right a:hover{
    color: #fa0;
    transition: all .45s;
}
.place_item .list_place_right li{
    margin-bottom: 10px;
    text-align: right;
}
@media screen and (max-width: 768px){
    .newest_item .newest_map h2{
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;
        margin-top: 50px;
        font-weight: bold;
    }
    .map_box .map_search iframe{
        width: 100%;
        max-width: 768px;
        margin-bottom: 50px;
    }
    .map_box .map_txt h3{
        font-size: 20px;
        padding: 10px;
        background-color: #fff;
        display: inline-block;
    }
    .newest_item .place_item{
        width:100%;
        max-width: 700px;
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        margin: auto;
        margin-bottom: 100px;
        /* padding-bottom: 80px;    */
    }
    .place_item .list_place_left{
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgb(255, 255, 255, 0.493);
        box-shadow: 0 0 10px rgb(107, 107, 107);
        padding: 10px;
        
    }
    .place_item .list_place_left  a{
        text-decoration: none;
        color: #222; 
        border-bottom: 1px solid #555;
        
    }
    .place_item .list_place_left a:hover{
        color: #fa0;
        transition: all .45s;
    }
    .place_item .list_place_left li{
        margin-bottom: 10px;
        text-align: right;
        
    }
    .place_item .list_place_right{
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgb(255, 255, 255, 0.493);
        box-shadow: 0 0 10px rgb(107, 107, 107);
        padding: 10px;
    }
    .place_item .list_place_right a{
        text-decoration: none;
        color: #222;
        border-bottom: 1px solid #555;
    }
    .place_item .list_place_right a:hover{
        color: #fa0;
        transition: all .45s;
    }
    .place_item .list_place_right li{
        margin-bottom: 10px;
        text-align: right;
    }
}

/* ----newest_footer---- */
.newest_footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.newest_footer .connection_place{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #fff;
    
}

.connection_place .connection h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(107, 22, 86);
    width: 330px;
}
.connection_place .connection_txt{
font-size: 20px;
line-height: 24px;

}
.connection_place .sub_place h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(107, 22, 86);
    width: 300px;
}
.sub_place .sub_txt input{
width: 250px;
border: none;
box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
background-color: #fff;
outline: none;
padding: 3px;
}
.sub_place .sub_txt button{
border: none;
background-color:transparent;
color: #333;
/* font-weight: bold; */
border: 1px solid #222;
}
.sub_place .sub_txt button:hover{
background-color: rgb(245, 199, 199);
transition: all .45s;
}
.sub_txt .sub_icon{
 margin: 10px;
 font-size: 30px;
}
.footer_menu{
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
   
   
}
.footer_menu .menu_place{
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 10px;
   
  
}
.menu_place .logo{
width: 120px;
}
.menu_place .logo img{
width: 100%;
vertical-align: top;

}
.menu_place .footer-nav{
/* margin: auto; */
display: flex;
align-items: center;

}
.menu_place .footer-nav a{
text-decoration: none;
color: #222;
font-size: 20px;
font-weight: bolder;
padding: 0px  1.5em  0px 0px;
}
.menu_place .footer-nav a:hover{
color: rgb(129, 129, 129);
transition: all 0.45s;
}
.footer_menu .copyright{
width: 100%;
max-width: 720px;
margin: auto;
color: #555;
line-height: 24px;
}

@media screen and (max-width: 768px){
    .newest_footer{
            
        width: 100%;
        max-width: 768px;
        margin: auto;
    }
    .newest_footer .connection_place{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #fff;
        
    }
 
    .connection_place .connection h2{
            font-size: 18px;
            font-weight: bolder;
            margin-bottom: 20px;
            border-bottom: 3px solid rgb(107, 22, 86);
            width: 100%;
            max-width: 280px;
            line-height: 24px;
            
    }
    .connection_place .connection_txt{
        font-size: 15px;
        line-height: 25px;
        margin-right:5px;
        
    }
    .connection_place .sub_place h2{
            font-size: 18px;
            font-weight: bolder;
            margin-bottom: 20px;
            border-bottom: 3px solid rgb(107, 22, 86);
            width: 100%;
            max-width: 280px;
            line-height: 24px;
    }
    .sub_place .sub_txt input{
        width: 100%;
        max-width: 150px;
        border: none;
        box-shadow: rgb(20%, 20%, 40%, .4) 3px 3px 3px inset ;
        background-color: #fff;
        outline: none;
        padding: 3px;
        
    }
    .sub_place .sub_txt button{
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background-color:transparent;
        color: #333;
        /* font-weight: bold; */
        border: 1px solid #222;
        
    }
    .sub_place .sub_txt button:hover{
        background-color: rgb(245, 199, 199);
        transition: all .45s;
    }
     .sub_txt .sub_icon{
         margin: 0px;
         font-size: 20px;
     }
     .footer_menu{
         margin:auto;
         padding-bottom: 10px;
         padding-top: 10px;
         width: 80%;
         max-width: 768px;   
     }
     .footer_menu .menu_place{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 15px;
       
       
    }
     .menu_place .logo{
        width: 100px;
        display: none;
    }
    .menu_place .logo img{
        width: 80%;
        vertical-align: top;
        
    }
    .menu_place .footer-nav{
        /* margin: auto; */
        display: flex;
        justify-content: center;
        
    }
    .menu_place .footer-nav a{
        text-decoration: none;
        color: #222;
        font-size: 15px;
        font-weight: bolder;
        padding: 0px  0.5em  0px 0px;
        line-height: 16px;
        
    }
    .menu_place .footer-nav a:hover{
        color: rgb(129, 129, 129);
        transition: all 0.45s;
    }
    .footer_menu .copyright{
        font-size: 15px;
        width: 100%;
        max-width: 700px;
        margin: auto;
        color: #555;
        line-height: 24px;    
    }
}